
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-color: #3c3e42;
$body-color: #F5F5F5;
$font-color: #A4A4A4;
$section-color: #f8f8ff;
$base-font-size: 14px;

/* universal */

body {
  font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
  font-size: $base-font-size;
  background-color: $body-color;
  display: block;
}

html,body {
  margin: 0;
  padding:0;
  height: 100%;
}

#container {
  min-height:100%;
  height: auto !important;
  height: 100%; /*IE6不识别min-height*/
  position: relative;
}

/* header */
#header{
  .navbar-inverse {
    font-size: 1.1em;
    background-color: $navbar-color;
    border-top: 4px solid #3d85c6;

    .github-login {
      padding-right: 15px;
      padding-top: 8px;
      padding-left: 10px;
      .nav-item {
      
      }
      .login-btn {
        height: 35px;
        line-height: 35px;
        padding-top: 0px;
        margin-left: 10px;

      }
    }

    .dropdown-menu {
      padding: 0px;
      margin: 0px;
      min-width: 100%;
      background-color: transparent;
      li {
        margin: 0px;
        height: 35px;
        background-color: #c9c9c9;
        a {
          margin: 0px;
          height: 35px;
          line-height: 35px;
          .fa {
            padding-right: 20px;
          }
        }
      }
      .divider {
        background-color: transparent;
        height: 2px;
      }
    }
    #logout {
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

/* page */
#page {
  padding-bottom: 60px;/*等于footer的高度*/
  height: 100%;
}

/* footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;/*脚部的高度*/
  background: $navbar-color;
  clear:both;

  a {
    color: $font-color;
    font-size: 1.2em;
  }

  a:hover {
    color: #FFFFFF;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 13px;
    font-weight: bold;
  }
}


section {
  overflow: auto;
  background-color: $section-color;
  padding-left: 5px;
  padding-right: 5px;
}

textarea {
  resize: vertical;
}

.jumbotron {
  text-align: center;
}

.panel-heading {
  text-align: center;
  vertical-align: middle;
}

.topic-filter {
  text-align: left;
  line-height: 105%;
  padding-top: 10px;

  li {
    padding-left: 15px;
    padding-right: 15px;

    a {
      color: #a2a2a2;
      padding: 3px;
      text-decoration: none;
    }
    .active {
        border-bottom: 2px solid #fbbd08;
      }
  }
}

.tooltip-inner {
  font-size: 1.2em;
  line-height: 200%;
  line-width: 200%;
  padding-left: 5px;
  padding-right: 5px;
}

/* 下拉菜单悬停展开 */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* home carousel*/
#carousel-home{
  margin-bottom: 20px;
}
.carousel-inner{
  max-height: 400px;
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;

    p {
      font-size: 0.75em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 10px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  max-width: 40px;
  border-radius: 50%;
}

/* flash message */
.flash-message {
  width: 50%;
  .alert {
    text-align: center;
  }
}

/* 单页格式定义 */

/* login page */
#login-panel {
  padding-top: 50px;
}

/* user create page */
#usercreate-panel {
  padding-top: 50px;
}


